body {
    background-image: url(../img/background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: Raleway, Helvetica, Arial, sans-serif;
}

.wrap {
    position: fixed;
    width: 100%;
    height: 100%;
    text-align: center;
}

#overlay {
    background-image: url(../img/dotbackground.png);
    background-repeat: repeat;
}

#content {
    position: absolute;
}

div#hero {
    min-height: 300px;
    max-height: 350px;
    max-width: 100%;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.spacer {
    height: 120px;
}

.gray {
    margin-left: auto;
    margin-right: auto;
}

#logo {
    width: 490px;
    max-width: 100%;
}

p {
    color: white;
}


@font-face {
	font-family: 'Gaspar';
	src: url('Gaspar_Regular-webfont.woff') format('woff');
}
